
@import url('https://fonts.googleapis.com/css?family=Roboto');

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
	color:000000;
}

h1 {
	color:#0E2B63;
	font-size: 32px;
	font-weight: normal;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

#cta {
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

p {
	font-family: palatino, georgia, serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

header {
    padding: 20px;
    text-align: center;
}

#nav {
    padding: 20px;
    text-align: center;
}

#left {
    padding: 20px;
    width: 100%;
    height: auto;
}

#right {
    padding: 20px;
    float: right;   
    width: 62%;
}

footer {
    padding: 20px;
}

div {
    padding: 20px;
}