
@import url('https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Condensed');

.clearfix:after {
    visibility: hidden;
    display: inline-block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    width: 100%;
}

body {
	color:000000;
}

.header {
  background: lightgrey;
}

h1 {
	color:#0E2B63;
	font-size: 2.5em;
	font-weight: normal;
	text-align:center;
  font-family: 'Alegreya', serif;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav {
  background: lightgrey; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
    margin: 0 1.6em .75em 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	margin: 2em;
}

#left {
    padding: 20px;
    float: left;
    width: 30%;
    font-family: 'Roboto', sans-serif;
}

#right {
    padding: 20px;
    float: right;   
    width: 62%;
    font-family: 'Roboto', sans-serif;
}

.footer {
  background: lightgrey;
  font-style: italic;
  text-align: center;
  font-size: 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
}

div {
    padding: 20px;
    background: lightgrey;
}

@media only screen and (max-width: 800px) {
  nav {
    float: none;
  }
  


