
@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
	color:000000;
}

h1{
	color:#0E2B63;
	font-size: 32px;
	font-weight: normal;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

#slogan{
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

#cta{
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

p {
	font-family: palatino, georgia, serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

header {
	color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

nav {
	color:#E8C66A;
	border: 1px black solid;
    padding: 20px;
}

.picture {
	color: #FFC675;
	border: 1px black solid;
    padding: 20px;
}

.description{
	color: #E89C6C
	border: 1px black solid;
    padding: 20px;
}

footer: {
	color:#FF957E;
	border: 1px black solid;
    padding: 20px;
}

#wrapper {
	color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}